:root{
    --color1 :#1d7de4;
    --color2 :#7bedfc;
    --color3 :rgb(10, 146, 161);
    --color4 :#223443;
    --color5 :#f8a4af;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
    font-family: serif;
    border: none;
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

header{
    background-color: #fff;
    width: 100%;
    padding: 1.5rem 7%;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
 
.logo img{
    width: 100%;
    color: var(--color3);
}
header-icon img{
    position: absolute;
    width: 100px;
    top:0 ;
    left: 20%;
}

.navbar a{
    margin: .6rem;
    font-size: 1.7rem;
    color: var(--color3);
    padding: 1rem;
    position: relative;
    transition: .5s;
}

.navbar a:hover{
    color: var(--color3);
}

.navbar a::after{
    width: 0;
    height: 4px;
    position: absolute;
    left: 0;
    top: 100%;
    content: "";
    background-color: var(--color3);
    transition: .5s;
}

.navbar a:hover::after{
width: 100%;
}
.header-icons{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header-icons i{
    padding: 0.5rem;
    margin: 0 0.5rem;
    color: var(--color4);
    font-size: 2.5rem;
}
.header-icons i:hover{
    color: var(--color3);
    cursor: pointer;
}
#bar{
    font-size: 2.5rem;
    color: var(--color4);
    display: none;
    margin-left: 1rem;
}
#bar:hover{
    color: var(--color3);
}

/******************************************************SLIDER*************************************************************/

.main-home{
    width: 100%;
    background-image: url(Images/background\ iamge.jpg);
    padding: 2rem 7%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
}
.inner-home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 6%;
}
.main-inner-home{
    flex: 1 1 45rem;
}
.main-inner-home .right-img img{
    width: 80%;
    height: 580px;
    margin-top: -80px;
    margin-left: 100px;
}
.left-content{
    padding: 0 3rem;
}
.left-content h3{
    color: var(--color4);
    font-size: 5rem;
}
.left-content h1{
    font-size: 11rem;
}
.left-content p{
    font-size: 1.7rem;
    padding: 1rem;
}
.btn{
    margin-top: 2rem;
    font-size: 1.7rem;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    padding: 1.5rem 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
    transition: 0.5s all ease;
    z-index: 1;
    cursor: pointer;
}
.btn:hover{
    color: #fff;
}
.btn::before{
    content: "";
    color: #fff;
    transition: 0.5s all ease;
    top: 50%;
    left: 0;
    bottom: 50%;
    right: 0;
    opacity: 0;
    z-index: -1;
    position: relative;
}
.btn:hover::before{
    top: 0;
    bottom: 0;
    opacity: 1;
    background-color: var(--color3);
}

/******************************************************OUR-SURGERY*************************************************************/

.home-icons-below{
    padding: 2rem 5%;
}
.home-icons-icons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.home-icons-box{
    display: inline-block;
    flex: 1 1 230px;
    width: 30%;
    height: 70%;
    margin-left: 40px;
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border: 2px solid var(--color3);
    transition: 0.5s;
}
.home-icons-box img{
    margin-top: -70px;
}
.home-icons-box:hover{
    background-color: var(--color3);
    border-top-left-radius: 30px;
    border: 2px solid #fff;
}
.home-icons-box:hover h2{
    color: #fff;
}
.home-icons-box:hover p{
    color: #fff;
}
.home-icons-box h2{
    font-size: 2rem;
    padding: 1rem 0;
    margin-top: -90px;
}
.home-icons-box p{
    font-size: 1.5rem;
    padding: 1.5rem 0;
    margin-top: -10px;
}

/******************************************************ABOUT-US*************************************************************/


.main-about{
    position: relative;
    padding: 2.5rem 7%;
    width: 100%;
    background-image: url(Images/Hexagon\ Background\ image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-heading{
    text-align: center;
}
.about-heading h1{
    color: var(--color3);
    font-size: 45px;
}
.about-heading h1 span{
    color: var(--color4);
}
.about-main-div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.main-inner-about{
    flex: 1 1 45rem;
}
.about-img img{
    width: 100%;
    padding: 4rem;
}
.about-right-content h2{
    color: var(--color4);
    font-size: 4rem;
}
.about-right-content h1{
    color: var(--color3);
    padding: 1rem 0;
    font-size: 6rem;
}
.about-right-content p{
    font-size: 1.5rem;
    line-height: 2;
    padding: 1rem 0;
    color: var(--color4);
}


/******************************************************OUR_DOCTORS*************************************************************/


.main-our-doctors{
    padding: 2rem 7%;
}

.doctors-heading{
    text-align: center;
    padding: 2rem 0;
}
.doctors-heading h1{
    font-size: 25px;
}
.doctors-heading h1 span{
    color: var(--color4);
}
.doc-innernames h2{
color: black;
}
.doctor-inner-main-div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 5rem;
}
.doctor-innerbox{
    flex: 1 1 300px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}
.doctor-innerbox::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    content: "";
    position: absolute;
    background: linear-gradient(0deg, #fff 50%, transparent);
    bottom: -200px;
    left: 0;
}
.doctor-innerbox:hover:after{
    bottom: -100px;
}

.doctor-innerbox:hover .doctor-icons{
    left: 5%;
    font-size: 2rem;
    cursor: pointer;
}
.doctor-icons i:hover{
    border-top-left-radius: 1rem;
    transform: scale(1.1);
}
.doctor-innerbox .teaming img{
    width: 100%;
    padding: 1rem;
    border: 4px solid var(--color3);
}
.doctor-innerbox:hover .teaming img{
    border-top-right-radius: 30px;
}
.doctor-icons{
    position: absolute;
    top: 5%;
    left: -100%;
    transition: 0.8s ease-in-out;
}
.doctor-icons i{
    padding: 1.7rem;
    margin: 0.5rem;
    background-color: #fff;
    color: var(--color3);
    font-size: 1.5rem;
    border: 1px solid var(--color3);
}
.doc-innernames{
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 2rem;
    color: var(--color3);
    z-index: 1;
}

/******************************************************OUR-SERVICES*************************************************************/

.main-service{
    padding: 3rem 7%;
    position: relative;
    background-color: #edeef2;
}
.service-heading{
    text-align: center;
}
.service-heading h1{
    padding-bottom: 3rem;
    color: var(--color3);
    font-size: 45px;
}
.service-heading h1 span{
    color: var(--color4);
}
.main-services{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
.service-box{
    flex: 1 1 300px;
    background: #fff;
    padding: 3rem 2rem;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border: 2px solid var(--color3);
    text-align: center;
    position: relative;
    transition: 0.3s ease-in-out;
    transition: 0.5s ease;
}
.service-box :hover{
    border-left: 6px solid var(--color3);
    border-radius: 22px;
    border: 0;
    border-bottom: 2px solid var(--color4);
    margin-top: -10px;
}
.service-box-icon{
    padding: 2rem;
    background-color: var(--color4);
    width: 80px;
    height: 80px;
    margin: 0 auto;
    line-height: 50px;
    transition: 0.4s;
    cursor: pointer;
}
.service-box :hover .service-box-icon{
    border-radius: 100%;
    background-color: var(--color3);
}
.service-box-icon :hover i{
    color: #fff;
}
.service-box-icon i{
    font-size: 3rem;
    color: #fff;
}
.service-box h2{
    font-size: 2rem;
    padding: 2rem 0;
}
.service-content p{
    line-height: 2rem;
    padding: 1rem 0;
    font-size: 1.6rem;
}

/******************************************************GALLRY-IMGAES*************************************************************/

.main-gallery-section{
    margin-top: 20px;
    background-image: url(Images/Salmon_Background_color_img.jpg);
    padding: 3rem 7%;
    
}
.gallery-heading{
    text-align: center;
    padding-bottom: 2rem;
}
.gallery-heading h1{
    font-size: 45px;
    color: var(--color3);
}
.gallery-heading h1 span{
    color: var(--color4);
}
.main-inner-gllerly{
    display: flex;
    text-align: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.gallery-img{
    flex: 1 1 300px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}
.gallery-img:hover img{
    transform: rotate(4deg);
    cursor: pointer;
}
.gallery-img img{
    width: 100%;
    height: 100%;
}

/***************************************************CUSTOMER-REVIEW*************************************************************/

.main-coustomer-review{
    padding: 3rem 7%;
}
.customer-review-heading{
    text-align: center;
    padding-bottom: 2rem;
}
.customer-review-heading h1{
    font-size: 45px;
    color: var(--color3);
}
.customer-review-heading h1 span{
    color: var(--color4);
}

.main-coustomer-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
.inner-customer-box{
    display: inline-block;
    width: 30%;
    height: 50%;
    flex: 1 1 300px;
    padding: 2rem;
    margin-left: 33px;
    box-shadow: rgba(0,0,0,0.35) 0px 6px 15px;
    align-items: center;
    text-align: center;
    border: 2px solid var(--color3);
}
.innerbox-content img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    border: 4px solid #edeef2;
}
.customer-review h2{
    font-size: 2.6rem;
    color: var(--color4);
    padding: 0.5rem 0;
}
.customer-review p{
    color: var(--color3);
    font-size: 1.6rem;
}
.customer-review i{
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--color3);
}

/***************************************************FOOTER*************************************************************/

.footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 66px;
    padding: 66px;
    font-size: 20px;
    color: #fff;
    background-color: black;
    justify-content: space-around;
}
.footer p{
    margin-top: 15px;
}

